
.criteria {
  padding: 0;
  list-style: none;
}

.exclude {
  background-color: #F2DEDE;
  text-decoration: line-through;
}

.include {
  background-color: #DFF0D8;
}

.result {
  background-color: #D9EDF7;
}
